* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}
/*nav section*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.12rem;
  background-color: rgba(10, 145, 218, 0.751);
}
ul li {
  display: inline;
  margin: 23px;
}
nav a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: normal;
}
nav h1 {
  font-weight: bolder;
  font-family: "Rubik Burned", system-ui;
  font-size: 2.2rem;
}
nav a:hover {
  border-bottom: 2px solid var(--main-color);
  transition: ease-in;
}
header {
  display: flex;
  justify-content: space-around;
  height: 85vh;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(182, 219, 235) 0%,
    rgb(206, 239, 253) 90%
  );
}
header p {
  max-width: 800px;
  font-size: 1.03rem;
  padding-bottom: 30px;
}
header h1 {
  font-size: 4rem;
  font-weight: bolder;
  padding-bottom: 25px;
}
span {
  color: rgba(0, 0, 0, 0.552);
}
.write {
  margin-top: 7rem;
}
header .i {
  margin-top: 7rem;
  background-image: url("Default_The_image_could_feature_a_graphical_representation_of_0\ \(1\).jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 400px;
  border-radius: 100%;
}
header button {
  height: 40px;
  width: 135px;
  background-color: rgba(26, 26, 208, 0.857);
  color: white;
  text-align: center;
  font-size: 1.05rem;
}
header button:hover {
  border-color: rgba(26, 26, 208, 0.857);
  background-color: white;
  color: rgba(26, 26, 208, 0.857);
  font-size: 1.06rem;
  transition: ease-in;
  transition-duration: 0.5s;
}
header a {
  text-decoration: none;
  color: white;
}
header button:hover a {
  text-decoration: none;
  color: rgba(26, 26, 208, 0.857);
  font-weight: bold;
}
section.team .img {
  height: 250px;
  width: 250px;
  border-radius: 100%;
}
.t {
  display: flex;
  justify-content: space-around;
}
.i1 {
  background-image: url("WhatsApp\ Image\ 2024-02-15\ at\ 18.19.49.jpeg");
  background-position: center;
  background-size: cover;
}
.i2 {
  background-image: url("");
  background-position: center;
  background-size: cover;
}
.i3 {
  background-image: url("IMG_1823.jpg");
  background-position: center;
  background-size: cover;
}
section.team h1 {
  text-align: center;
  font-weight: bolder;
  font-family: "Rubik Burned", system-ui;
  font-size: 2.2rem;
  margin: 5rem 0;
}
.team h3 {
  text-align: center;
}
.team {
  height: 80vh;
}
.dataset {
  height: 100vh;
}
.dataset h1 {
  text-align: center;
  font-weight: bolder;
  font-family: "Rubik Burned", system-ui;
  font-size: 2.2rem;
  margin-top: 3rem;
}
.dataset p.io {
  text-align: center;
  font-size: 1.03rem;
  padding: 15px 20px;
}
.dataset h2 {
  font-size: 1.01rem;
}
.dataset button {
  height: 40px;
  width: 135px;
  background-color: rgba(26, 26, 208, 0.857);
  color: white;
  text-align: center;
  font-size: 1.05rem;
}
.b {
  display: flex;
  justify-content: center;
}
.dataset button:hover {
  border-color: rgba(26, 26, 208, 0.857);
  background-color: white;
  color: rgba(26, 26, 208, 0.857);
  font-size: 1.06rem;
  transition: ease-in;
  transition-duration: 0.5s;
}
.dataset a {
  text-decoration: none;
  color: white;
}
.dataset button:hover a {
  text-decoration: none;
  color: rgba(26, 26, 208, 0.857);
  font-weight: bold;
}
.dataset .iii {
  font-size: 1.03rem;
  padding: 0 20px;
  margin-top: 2rem;
  line-height: 20px;
}
.dataset h2 {
  font-size: 1.8rem;
  margin: 2.3rem;
  font-weight: bolder;
}
.dataset p.i22 {
  text-align: center;
  font-size: 1.03rem;
  padding: 15px 20px;
}
.dataset p.i33 {
  text-align: center;
  font-size: 1.03rem;
  padding: 15px 20px;
}
.dataset p.i44 {
  text-align: center;
  font-size: 1.03rem;
  padding: 15px 20px;
}
.i222 {
  font-size: 1.03rem;
  padding: 15px 20px;
}
